.message {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 28px;
    padding: 20px;
    margin: 10px;
    background-color: hotpink;
    border-radius: 10px;
}
