.nav {
    grid-area: nav;
    background-color: lightcoral;
    padding: 50px 0 0 50px;
    margin-right: 20px;
}

.item a {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.item a.active {
    color: black;
}

.set {
    margin-top: 50px;
}